.product {

    background-image: url(/images/Jpg__Img/Package__left_img.png);
    background-size: contain;
    background-repeat: no-repeat;

    &__title {
        margin-bottom: 58px;
        text-align: center;
        font-family: 'Playfair Display';
        @include font(normal, 700, 64px, 85px, #07484A);
    }

    &__list {
        @include row;
        justify-content: flex-end;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 60px 40px;
        width: 430px;
        gap: 40px;
        margin-left: 32px;


        &:nth-child(1) {
            background: #CAF3E5;
            border-radius: 16px;
            margin-left: 0;
        }

        &:nth-child(2) {
            background: #E0EFF6;
            border-radius: 16px;
        }

        &:nth-child(3) {
            background: #EEEBFF;
            border-radius: 16px;

        }

        &:nth-child(4) {
            background: #FFF4E7;
            border-radius: 16px;
        }
    }

    &__item-img{
        display: block;
        margin: 0 auto;
    }

    &__item-title {
        font-family: 'Open Sans';
        @include font(normal, 700, 24px, 36px, #70908B);
    }

    &__item-desc {
        font-family: 'Open Sans';
        @include font(normal, 400, 18px, 25px, #70908B);
    }

    &__item-price {
        font-family: 'Open Sans';
        @include font(normal, 700, 18px, 25px, #70908B);
    }
}