@font-face {
    font-family: "OpenSansBold";
    src: url("/fonts/OpenSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "OpenSansBold";
    src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: "OpenSansRegular";
    src: url("/fonts/OpenSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("/fonts/PlayfairDisplay-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("/fonts/PlayfairDisplay-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("/fonts/PlayfairDisplay-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}